<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body{
        background: pink;
      }
    </style>
  </head>
  <body>
    <img align='right' src="{% static 'images/5.jpg' %}" alt="">
    <h1>HAPPY <img align='bottom' src="{% static 'images/4.jpg' %}" alt="">..EEEE....</h1>
    <h1>HAPPY <img align='center' src="{% static 'images/3.jpg' %}" alt="">KRANTHI..EEEE....</h1>
    <h1>HAPPY <img align='bottom' src="{% static 'images/2.jpg' %}" alt="">..MAAA...</h1>
  </body>
</html>
